[Unit]
Description=VLC Telnet
After=sound.target
Wants=sound.target

[Service]
Type=simple
Restart=always
ExecStart=%h/.local/bin/vlc-tn

[Install]
WantedBy=default.target