name: Version and Deploy

on:
  push:
    paths:
      - 'amniotic/version'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      NAME: ${{ github.event.repository.name }}
      NAME_SHORT: ${{ github.event.repository.name }}
      ORG: ${{ github.repository_owner }}
      PATH_VERSION: amniotic/version

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0


      - name: Set Version Environment Variable
        run: |
          VERSION=$(cat ${PATH_VERSION})
          echo "VERSION=$VERSION" >> $GITHUB_ENV


      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Install Tools
        run: |
          pip install twine pyyaml
          pip install -U packaging setuptools twine pip build

      - name: Docker Login
        env:
          DOCKER_USER: ${{ secrets.DOCKER_USER }}
          DOCKER_TOKEN: ${{ secrets.DOCKER_TOKEN }}
        run: |
          echo $DOCKER_TOKEN | docker login --username $DOCKER_USER --password-stdin

      - name: Increment Version
        env:
          GIT_EMAIL: ${{ secrets.GIT_EMAIL }}
        run: |
          git config --global user.name 'Frontmatter Actions'
          git config --global user.email "$GIT_EMAIL"       
          VERSION=${{ env.VERSION }}   
          git tag -a v${VERSION} -m "Release version ${VERSION}"
          git checkout --track origin/release
          git rebase main
          git push --follow-tags

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: v${{ env.VERSION }}
          generate_release_notes: true
          #prerelease: true

      - name: Build Wheel
        run: |
          python -m build

      - name: Push Wheel
        env:
          TWINE_PASSWORD: ${{ secrets.PYPI_TOKEN }}
          TWINE_USERNAME: __token__
        run: |
          twine upload dist/*

      - name: Wait for PyPI
        run: |
          sleep 300

      - name: Build and Push Docker
        run: docker buildx build . --build-arg VERSION=${{ env.VERSION }} --tag fmtr/${{ env.NAME }}:v${{ env.VERSION }} --tag fmtr/${{ env.NAME }}:latest --push --platform linux/amd64,linux/arm64
